@import "variables";

body {
  padding: 20px 0;
}

.message-list {
  list-style: none;
  //max-height: 75vh;
  //overflow-y: auto;
}

.message-list-item {
  height: 60px;
  padding: 10px 10px;
  border-left: 1px solid $message-list-border-color;
  border-right: 1px solid $message-list-border-color;
  & + & {
    border-top: 1px solid $message-list-border-color;
  }

  & > .title {

  }
}